@import "tailwindcss";



/*  Light Mode (default) */
:root {
  --primary: #faf9f9;
  --secondary: #fcfcfc;
  --accent: #1e83ff;
  --text: #070808;

   --dark-teal: rgb(0, 84, 97);
  --mid-teal: #1e83ff(1, 135, 144);
  --bright-teal: #1e83ff(0, 183, 181);
  --light-bg: rgb(244, 244, 244);

}

body {
  font-family:  sans-serif !important;
  overflow-x:hidden;

}

/*  Dark Mode */
.dark {
  --primary: #222831;
  --secondary: #393E46;
  --accent: #00ADB5;
  --text: #fcfcfc;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease forwards;
}
.animate-fadeInUp.delay-150 {
  animation-delay: 0.15s;
}
.animate-fadeInUp.delay-300 {
  animation-delay: 0.3s;
}
/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}
.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}


@keyframes scrollLogos {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logo-scroll {
  animation: scrollLogos 12s linear infinite;
}

